@model CreateNewDeveloperViewModel

<h1>Create a new developer!</h1>
<form asp-controller="Developers" asp-action="Create" method="post">
    @Html.DisplayNameFor(m => m.Name): <input name="Name" asp-for="Name" />
    <br />
    <br />
    @Html.DisplayNameFor(m => m.Email): <input name="Email address" asp-for="Email" />
    <br />
    <br />
    <button type="submit">Create a new developer</button>
</form>

<a asp-controller="Developers" asp-action="Index">
    Back to Home
</a>