/* _content/webAPIAddresses/Views/Addresses/Index.cshtml.rz.scp.css */

.tableRow[b-ab9x2m1ib3] {
    background: pink;
}

.rows[b-ab9x2m1ib3] {
    background:  rgb(231, 215, 218);
}

table[b-ab9x2m1ib3] {
    border: 1px solid black;
    margin-bottom: 20px;
}

.links[b-ab9x2m1ib3] {
    text-decoration: none;
}
