
.tableRow[b-jdfph15jot] {
    background: pink;
}

.rows[b-jdfph15jot] {
    background:  rgb(231, 215, 218);
}

table[b-jdfph15jot] {
    border: 1px solid black;
    margin-bottom: 20px;
}

.links[b-jdfph15jot] {
    text-decoration: none;
}